.container {
    margin: 0 auto;
    width: 1100px;
    text-align: center;
}
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
        margin: auto;
    }
}